#header {
    background-color: rgb(165, 225, 205);
}

#header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#card .card-header {
    background-color: rgb(220, 241, 234);
}

a {
    color: rgb(0, 0, 0);
}